@keyframes colorChange {
  0% {
    color: var(--secondary-text-color);
  }
  50% {
    color: var(--primary-text-color);
  }
  100% {
    color: var(--secondary-text-color);
  }
}

@keyframes wave {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.header {
  height: 80px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
}

.header a::after {
  margin: 0 10px;
  content: '|';
}

.header a:last-child:after {
  content: '';
}

.main {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  min-width: 320px;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.me {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: colorChange 4s infinite;
  font-size: 1.8em;
}

.meName {
  font-size: 5em;
}

.meName span {
  display: table-cell;
  animation: wave 2s infinite;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  font-size: 1.1em;
}

.project {
  width: 100%;
  margin-bottom: 8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.projectOdd {
  width: 100%;
  margin-bottom: 8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-flow: row-reverse;
}

.image {
  height: 267px;
  margin-bottom: 12px;
  width: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.details {
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.project .details {
  margin-left: 2em;
}

.projectOdd .details {
  margin-right: 2em;
}

.details p {
  font-size: 1.2em;
  margin-top: 10px;
}

.details header {
  opacity: 0.5;
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
}

/* Most of the Smartphones Mobiles (Portrait) */
@media (min-width: 320px) and (max-width: 480px) {
  .header {
    height: 60px;
    justify-content: center;
  }

  .meName {
    font-size: 3em;
  }

  .project {
    flex-direction: column;
    align-items: center;
  }

  .projectOdd {
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 100%;
  }

  .project .details {
    margin: 0;
  }

  .projectOdd .details {
    margin: 0;
  }

  .details p {
    font-size: 1.4em;
    text-align: justify;
  }

  .details header {
    opacity: 0.5;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
  }
}

/* Low Resolution Tablets, Mobiles (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {
  .header {
    height: 60px;
    justify-content: flex-end;
  }

  .image {
    max-width: 50%;
    width: 300px;
  }
}

/* Tablets, Ipads (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    height: 60px;
    justify-content: flex-end;
  }
}

/* Tablets, Ipads (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .header {
    height: 60px;
    justify-content: flex-end;
  }
}

/* Laptops, Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .header {
    height: 60px;
    justify-content: flex-end;
  }
}

/* Desktops */
@media (min-width: 1281px) {
  .header {
    height: 60px;
    justify-content: flex-end;
  }
}
